body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #22343d;
  margin: 0;
}

/* ---------RESET--------- */
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  display: block;
  cursor: pointer;
  border: 0px;
  padding: 0px;
}

address {
  font-style: normal;
}

img {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
.primary {
  color: #173a56;
  background-color: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    border 250ms ease-in-out;
}
.primary:hover,
.primary:focus,
.primary:active {
  background: #02897a;
  color: #fff;
  border-radius: 4px;
}
.secondary {
  background: #02897a;
  color: #fff;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out,
    border 250ms ease-in-out;
}
.secondary:hover,
.secondary:focus,
.secondary:active {
  color: #173a56;
  background-color: #ffffff;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------MOBILE-VERSION-----------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------COMMON SECTIONS---------------------------------------------------------------------- */

/* ---------------------------------------------------------HEADER SECTION START-------------------------------------------------------------------- */
.container {
  max-width: 411px;
  padding: 0 21px;
  margin: 0 auto;
}

.page-header {
  box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 17px 0;
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.page-nav-list {
  display: none;
}

.reg-btn-list {
  display: none;
}
.menu {
  background-color: transparent;
}
.theme-btn {
  display: none;
  height: 31px;
}

/* ------------------------------------------------------------HEADER SECTION END-------------------------------------------------------------- */

/* ------------------------------------------------------------PRICING SECTION START------------------------------------------------------------ */

.pricing-list-item {
  margin: 0 auto;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 8px;
  color: #22343d;
  text-align: center;
  padding: 24px 0 32px 0;
  width: 322px;
}
.pricing-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.pricing-list-item:nth-child(2) {
  background: #02897a;
  color: #ffffff;
}
.pricing-list-item-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  text-align: center;
}
.pricing-list-item:nth-child(2) .pricing-list-item-title {
  color: #ffffff;
}
.pricing-list-item-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  text-align: center;
  margin-bottom: 16px;
}
.pricing-list-item:nth-child(2) .pricing-list-item-subtitle {
  color: #ffffff;
}
.price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: center;
}
.pricing-list-item-price {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin: 0;
}
.pricing-list-item:nth-child(2) .pricing-list-item-price {
  color: #fff;
}
.price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 4px;
}
.pricing-list-item-price-dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.pricing-list-item:nth-child(2) .pricing-list-item-price-dollar {
  color: #fff;
}
.pricing-list-item-price-month {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.pricing-list-item:nth-child(2) .pricing-list-item-price-month {
  color: #e0e0e0;
}
.pricing-sublist {
  margin-bottom: 38px;
}
.pricing-sublist-item {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
}
.pricing-list-item:nth-child(2) .pricing-sublist-item {
  color: #fff;
}
.pricing-sublist-item:not(:last-child) {
  margin-bottom: 16px;
}

.pricing-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  border: 0px;
  height: 44px;
  min-width: 139px;
  margin: 0 auto;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.pricing-button-primary:active,
.pricing-button-primary:hover,
.pricing-button-primary:focus {
  background: #fff;
  color: #02897a;
  border: 1px solid #bcd0e5;
}
.pricing-button-primary {
  background: #02897a;
  color: #fff;
}
.pricing-button-secondary {
  background: #fff;
  color: #02897a;
}
.pricing-button-secondary:active,
.pricing-button-secondary:hover,
.pricing-button-secondary:focus {
  background: #02897a;
  color: #fff;
  border: 1px solid #bcd0e5;
}
/* ------------------------------------------------------------PRICING SECTION END------------------------------------------------------------ */

/* ------------------------------------------------------------PROMO SECTION START------------------------------------------------------------ */

.promo {
  padding-top: 100px;
}
.promo .container {
  padding: 0 15px;
}
.promo-card {
  padding-top: 17px;
  max-width: 371px;
  border-radius: 32px;
  background: #02897a;
  margin: 0 auto;
}

.promo-card-title {
  font-family: "Poppins", sans-serif;
  margin: 0 auto 70px auto;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  text-align: center;
  color: #fff;
  max-width: 328px;
}
.promo-card-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background: #ffffff;
  border-radius: 8px;
  border: 0px;
  min-width: 150px;
  height: 50px;
  margin: 0 auto 32px auto;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
/* ------------------------------------------------------------PROMO SECTION END------------------------------------------------------------ */

/* ------------------------------------------------------------FOOTER SECTION START------------------------------------------------------------ */
.page-footer {
  padding: 100px 0 45px 0;
}

.page-footer .logo {
  gap: 16px;
  justify-content: center;
  margin-bottom: 24px;
}
.socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 31px;
}

.social-list-link {
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease-in-out;
}
.social-list-link:hover,
.social-list-link:focus,
.social-list-link:active {
  background-color: #02897a;
}
.social-list-link:hover .social-icon,
.social-list-link:focus .social-icon,
.social-list-link:active .social-icon {
  fill: #02897a;
  stroke: #edfffc;
}
.social-icon {
  stroke: #02897a;
  fill: inherit;
  transition: stroke 250ms ease-in-out, fill 250ms ease-in-out;
}

.footer-reg-wrapper {
  margin-left: auto;
}
.footer-info-wrapper .footer-links-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-right: 146px;
}
.page-sublists-wrapper {
  margin-bottom: 32px;
}
.footer-sublist-item {
  text-align: center;
}
.footer-sublist-title {
  margin-bottom: 8px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}
.page-footer,
.footer-sublist-item-link {
  color: #22343d;
}
.footer-sublist-title,
.sign-up-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.footer-sublist-item-link,
.author-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 219%;
}
.sign-up-title {
  max-width: 280px;
  margin: 0 auto 34px auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #22343d;
}

.sign-up-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 100%;
  height: 48px;
  color: #02897a;
  transition: border-color 250ms ease-in-out;
  padding-left: 30px;
  margin-bottom: 21px;
}
.sign-up-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}
.sign-up-input:focus,
.sign-up-input:active {
  outline: inherit;
  border-color: #02897a;
}

.form-input-icon {
  display: none;
}

.sign-up-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  border: 0px;
  height: 39px;
  min-width: 131px;
  transition: color 250ms ease-in-out, border 250ms ease-in-out,
    background-color 250ms ease-in-out;
  margin: 0 auto 44px auto;
}
.sign-up-button:active,
.sign-up-button:hover,
.sign-up-button:focus {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #bcd0e5;
}
.author-comment {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.875;
  text-align: center;
  color: #22343d;
  text-align: center;
}

/* ---FOOTER SECTION END--- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------INDEX.HTML PAGE------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */
*/
/* ---------------------------------------------------------------------------HERO SECTION START--------------------------------------------------------------------------- */
.hero-img {
  margin: 0 auto 10px auto;
}
.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66667;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}
.hero-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #22343d;

  max-width: 326px;
  margin: 0 auto 32px auto;
}
.hero-button-list {
  display: flex;
  gap: 28px;
  align-items: center;
}

.hero-button {
  font-weight: 700;
  min-width: 142px;
  height: 53px;
}
.hero-button-secondary {
  font-weight: 600;
  color: #02897a;
  background-color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 250ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero-button-secondary:hover,
.hero-button-secondary:focus,
.hero-button-secondary:active {
  text-decoration-color: inherit;
}
/* ---------------------------------------------------------------------------HERO SECTION END--------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------ADVANTAGES SECTION START----------------------------------------------------------------------- */

.advantages {
  color: #22343d;
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
}
.advantages-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 331px;
  margin: 0 auto 50px auto;
}
.advantages-list {
  margin-bottom: 32px;
}
.advantages-list-item:nth-child(1) .advantages-icon-wrapper {
  background-color: #02897a;
}
.advantages-list-item:nth-child(2) .advantages-icon-wrapper {
  background-color: #4d8dff;
}
.advantages-list-item:nth-child(3) .advantages-icon-wrapper {
  background-color: #740a76;
}
.advantages-list-item:nth-child(4) .advantages-icon-wrapper {
  background-color: #f03e3d;
}
.advantages-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.advantages-icon-wrapper {
  border-radius: 19px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px auto;
}

.advantages-list-item-title {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin-bottom: 8px;
}
.advantages-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  margin: 0 auto;
  max-width: 226px;
}
.sign-up-btn {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 175px;
  height: 53px;
  margin: 0 auto 50px auto;
}

/* ---------------------------------------------------------------------------ADVANTAGES SECTION END--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------SUCCESS SECTION START--------------------------------------------------------------------------- */
.success .container {
  padding: 0 30px;
}
.success {
  color: #22343d;
  font-size: 16px;
  padding-bottom: 141px;
}
.success-list-item:not(:last-child) {
  margin-bottom: 100px;
}
.success-sublist-item-image {
  margin: 0 auto 50px auto;
}
.success-list-item-text {
  font-weight: 600;
  margin-bottom: 8px;
}
.success-list-item-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.success-list-item-subtitle {
  font-weight: 400;
  line-height: 162%;
  margin-bottom: 16px;
}
.success-sublist-item:not(:last-child) {
  margin-bottom: 16px;
}
.success-sublist-item:nth-child(1) .success-sublist-box {
  background-color: #f90;
}
.success-sublist-item:nth-child(2) .success-sublist-box {
  background-color: #f03e3d;
}
.success-sublist-item:nth-child(3) .success-sublist-box {
  background-color: #4d8dff;
}
.success-list-item:nth-child(3) .success-sublist-item,
.success-list-item:nth-child(1) .success-sublist-item {
  display: block;
}
.success-sublist-item {
  display: flex;
  gap: 30px;
  align-items: center;
}

.success-sublist-box {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  flex-shrink: 0;
}

.success-sublist-icon {
  display: block;
  fill: #ffffff;
}

.success-sublist-title {
  font-weight: 600;
  line-height: 162%;
  margin-bottom: 12px;
}

.success-sublist-text {
  font-weight: 400;
  line-height: 162%;
}

/* ---------------------------------------------------------------------------SUCCESS SECTION END--------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------OUR-EXPERTS SECTION START------------------------------------------------------------------------ */
.our-experts {
  color: #22343d;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 100px;
  text-align: center;
}
.our-experts .container {
  padding: 0 31px;
}
.our-experts-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 8px;
}
.our-experts-subtitle {
  text-align: center;
  margin-bottom: 40px;
}

.our-experts-list {
  margin-bottom: 50px;
}
.our-experts-list-wrapper:first-child {
  margin-bottom: 25px;
}
/* --TOP-- */

.our-experts-list-item-top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 32px;
}
.our-experts-list-item-top:nth-child(2) {
  flex-direction: row-reverse;
  margin-bottom: 32px;
}
/* --BOTTOM-- */
.our-experts-list-item-bottom {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: auto;
  margin-bottom: 32px;
}
.our-experts-list-item-bottom:nth-child(2) {
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: 0;
}
.our-experts-list-item-text {
  color: #2f281e;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  padding: 8px 24px;
  min-width: 236px;
}
.our-experts-list-item-text {
  color: #2f281e;
  border-radius: 40px;
}
.our-experts-button {
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  min-width: 216px;
  height: 53px;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------OUR-EXPERTS SECTION END------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------STRATEGIES SECTION START------------------------------------------------------------------------ */

.strategies {
  color: #22343d;
  padding-bottom: 61px;
}
.strategies .container {
  padding: 0 31px;
}
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
}

.strategies-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  margin-bottom: 40px;
}
.strategies-list {
}
.strategies-list-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  background: #fff;
}
.strategies-list-item:not(:last-child) {
  margin-bottom: 16px;
}
.strategies-list-item-text-wrapper {
  padding: 24px 0 40px 0;
}
.strategies-list-item-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}
.strategies-list-item-date span {
  font-weight: 700;
}
.strategies-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
  max-width: 296px;
}

.strategies-list-item:nth-child(2) .strategies-list-item-title {
  color: #02897a;
}

/* ---------------------------------------------------------------------------STRATEGIES SECTION END--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------PRICING SECTION START--------------------------------------------------------------------------- */

.pricing {
  color: #22343d;
  text-align: center;
  padding-bottom: 100px;
}
.index-pricing-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 8px;
}
.index-pricing-subtitle {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 74.2px;
}

/* ---------------------------------------------------------------------------PRICING SECTION END--------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------REVIEWS SECTION START--------------------------------------------------------------------------- */
.reviews {
  margin-bottom: 100px;
}
.reviews .container {
  padding: 0 42px;
}
.reviews-title {
  color: #22343d;
  font-weight: 700;
  font-size: 32px;
  line-height: 178%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 10px;
}

.reviews-subtitle {
  color: #22343d;
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 40px;
  max-width: 537px;
  margin: 0 auto 40px auto;
}

.reviews-list {
}

.reviews-list-item {
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 28px 26px;
}
.reviews-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.review-mark {
  margin-bottom: 16px;
  margin-left: 2px;
}

.reviews-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.01em;
  color: #32454f;
  margin-bottom: 16px;
}

.reviewer-wrapper {
  display: flex;
  gap: 14px;
  align-items: center;
}

.reviewer-icon {
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #bdbdbd;
}

.reviewer-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #02897a;
}

.reviewer-job {
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* ---------------------------------------------------------------------REVIEWS SECTION END--------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------CUSTOMERS.HTML PAGE------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
}
/* ---------------------------------------------------------------------OUR-CLIENTS SECTION START--------------------------------------------------------------------- */

.our-clients {
  padding: 50px 0 77px 0;
}
.our-clients .container {
  padding: 0 30px;
}
.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.our-clients-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: space-between;
  align-items: center;
}

/* ---------------------------------------------------------------------OUR-CLIENTS SECTION END--------------------------------------------------------------------- */

/* ---------------------------------------------------------------------BENEFITS SECTION START--------------------------------------------------------------------- */

.benefits {
  padding: 24px 0 61px 0;
  background-color: #f5f5f5;
}
.benefits .container {
  padding: 0 31px;
}
.benefits-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 50px;
}

.benefits-list-item {
  border: 1px solid #dedede;
  border-radius: 10px;
  text-align: center;
  padding: 32px 0px 34px 0px;
}
.benefits-list-item:not(:last-child) {
  margin-bottom: 32px;
}
.benefits-list-item:nth-child(1) .benefits-icon-wrapper {
  background-color: #02897a;
}
.benefits-list-item:nth-child(2) .benefits-icon-wrapper {
  background-color: #4d8dff;
}
.benefits-list-item:nth-child(3) .benefits-icon-wrapper {
  background-color: #f03e3d;
}
.benefits-icon-wrapper {
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto 32px auto;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 137%;
  letter-spacing: 0em;
  margin-bottom: 16px;
}

.benefits-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 169%;
  letter-spacing: 0.01em;
  max-width: 275px;
  margin: 0 auto;
}

/* ---------------------------------------------------------------------BENEFITS SECTION END--------------------------------------------------------------------- */

/* ---------------------------------------------------------------------INSTRUCTION SECTION START--------------------------------------------------------------------- */
.instruction {
  padding: 96px 0 70px 0;
}
.instruction .container {
  padding: 0px 26px 0px 26px;
}
.instruction-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 79px;
}
.instruction-list {
}
.instruction-list-item {
}
.instruction-list-item:nth-child(1) {
  margin-bottom: 69px;
}
.instruction-list-item:nth-child(2) {
  margin-bottom: 74px;
}
.instruction-list-item:nth-child(1) .instruction-list-img {
  margin-bottom: 80px;
}
.instruction-list-item:nth-child(2) .instruction-list-img {
  margin-bottom: 69px;
}
.instruction-list-item:nth-child(3) .instruction-list-img {
  margin-bottom: 67px;
}
.instruction-list-img {
  margin: 0 auto;
}
.instruction-list-subtitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}
.instruction-list-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.instruction-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}
.instruction-button {
  display: none;
}

/* ---------------------------------------------------------------------BINSTRUCTION SECTION END--------------------------------------------------------------------- */

/* ---------------------------------------------------------------------OFFERS SECTION START--------------------------------------------------------------------- */

.offers {
  padding: 30px 0px 33px 0px;
}
.offers .container {
  padding: 0px 30px;
}
.offers-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 85px;
}
.offers-list {
}
.offers-list-item {
  text-align: center;
}
.offers-list-item:not(:last-child) {
  margin-bottom: 66px;
}
.offer-item-logo-wrapper {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 0 auto 35px auto;
}
.offers-list-item:nth-child(1) .offer-item-logo-wrapper {
  background-color: #ffefef;
}
.offers-list-item:nth-child(2) .offer-item-logo-wrapper {
  background-color: #f2f6ff;
}
.offers-list-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  color: #000;
  margin-bottom: 16px;
}
.offers-sublist {
  margin-bottom: 12px;
}
.offers-sublist-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: center;
}
.offers-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  color: #000;
  text-align: center;
}

/* ---------------------------------------------------------------------OFFERS SECTION END--------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------PRICING.HTML PAGE------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------------------------------------------
  ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------Pricing-SECTION START--------------------------------------------------------------------- */
.pricing-page {
  padding: 50px 0px 100px 0px;
}
.pricing-page .container {
  padding: 0px 29px;
}
.price-title {
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.price-subtitle {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 18px;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.price-list-item {
  font-family: "Poppins", sans-serif;
}
.price-list-item .pricing-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
}
.price-list-item .pricing-list-item-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
}
.price-list-item .pricing-list-item-price {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
}

/* ---------------------------------------------------------------------Pricing-SECTION END--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------Enterprice SECTION START--------------------------------------------------------------------- */

.enterprise {
  padding: 47px 0 46px 0;
  background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}
.enterprise-subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.enterprise-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}
.enterprise-text {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 32px;
}
.enterprise-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background: #02897a;
  border: 0px;
  margin: 0 auto;
  min-width: 224px;
  height: 44px;
}
.enterprise-button:hover,
.enterprise-button:focus,
.enterprise-button:active {
  border-radius: 8px;
}
/* ---------------------------------------------------------------------Enterprice SECTION END--------------------------------------------------------------------- */
/* ---------------------------------------------------------------------Users SECTION START--------------------------------------------------------------------- */

.users {
  padding: 100px 0;
}
.users .container {
  padding: 0px 29px;
}
.users-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  margin-bottom: 33px;
}
.users-img {
  margin-bottom: 31.8px;
}
.users-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.user-item-title-wrapper {
  display: flex;
  align-items: center;
  gap: 14.8px;
  margin-bottom: 16px;
}
.users-list-icon-wrapper {
  width: 53px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
  border-radius: 50%;
}

.users-list-item-title {
  font-weight: 600;
  font-size: 24px;
}
.users-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}

/* <!-- ---Users SECTION END--- --> */

/* <!-- ---Questions SECTION START--- --> */

.question .container {
  padding: 0px 28px;
}
.question-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 16px;
}
.question-subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align-last: center;
  margin-bottom: 30px;
}
.question-list {
}
.question-list-item {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 16px;
}
.question-list-item:not(:last-child) {
  margin-bottom: 24px;
}
.question-item-title-wrapper {
  display: flex;
  align-items: start;
  gap: 16px;
  margin-bottom: 16px;
}
.question-list-item-ask {
  font-weight: 500;
  font-size: 18px;
}
.question-list-item-answer {
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

/* <!-- ---Questions SECTION END--- --> */

/* ------------------------------------------------------------------------RESOURCES.HTML PAGE------------------------------------------------------------------------ */

/* <!-- ---HERO SECTION START--- --> */

.resources-hero {
  padding: 76px 0 67px 0;
}
.resources-hero .container {
  /* display: flex; */
  align-items: flex-start;
}
.resources-hero-info-wrapper {
}
.resources-hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.49;
  letter-spacing: -0.03em;
  max-width: 380px;
  margin-bottom: 24px;
}
.resources-hero-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: -0.03em;
  max-width: 535px;
  margin-bottom: 24px;
}
.resources-hero-join-now {
  /* display: flex; */
  border: 1px solid #eaeaea;
  border-radius: 100px;
  width: 469px;
  height: 66px;
  align-items: center;
  padding: 0 8px;
  margin-bottom: 24px;
}
.resources-hero-join-input {
  height: 50px;
  min-width: 320px;
  border-radius: 100px;
  border: 0px;
  padding: 0 10px;
}
.resources-hero-join-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 0;
  color: #fff;
  background: #02897a;
  border-radius: 100px;
  padding: 24px;
  min-width: 117px;
  height: 50px;
  margin-left: auto;
}
.resources-hero-join-button:hover,
.resources-hero-join-button:focus,
.resources-hero-join-button:active {
  border-radius: 100px;
}

.resources-hero-images-list {
  position: relative; /* потрібне для абсолютного позиціонування всередині */
  list-style: none;
  padding: 0;
  margin: 0;
  width: fit-content; /* або конкретну ширину */
}

.resources-hero-images-list-item {
  position: relative;
}

/* Перша картинка — просто стоїть */
.resources-hero-images-list-item:first-child {
  z-index: 1;
}

/* Друга картинка — накладається поверх */
.resources-hero-images-list-item:last-child {
  position: absolute;
  top: 182px; /* зсув вниз */
  left: 219px; /* зсув вправо */
  z-index: 2; /* поверх першої */
}

/* <!-- ---HERO SECTION END--- --> */

/* ---STORIES SECTION START--- */

.stories {
  padding-bottom: 100px;
}
.stories-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 8px;
}
.stories-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  margin-bottom: 32px;
}
.stories-list {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 32px;
}
.stories-list-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  background: #fff;

  width: calc((100% - 64px) / 3);
}
.stories-list-item-img {
  border-radius: 8px 8px 0px 0px;
}
.stories-list-item-info {
  padding: 22px 0px 40px 24px;
}
.stories-list-item-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
}
.stories-list-item-date span {
  font-weight: 700;
}
.stories-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167%;
}
.stories-more-button {
  color: #22343d;
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  border: 0px;
  margin: 0 auto;
}

/* ---STORIES SECTION END--- */

/* ---CONTACT-US SECTION START--- */
.contact-us .container {
  padding: 60px 140px 52px 140px;
}
.contact-us {
  text-align: center;
}
.contact-us-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 168%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #252b42;
  margin-bottom: 17px;
}
.contact-us-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #374754;
  max-width: 312px;
  margin: 0 auto 65px auto;
}
.contact-us-socials-list {
  justify-content: center;
  margin-bottom: 65px;
  /* display: flex; */
  gap: 22px;
}
.socials-list-item {
  border-radius: 100%;
  fill: #edfffc;
  width: 50px;
  height: 50px;
}
.socials-list-item-icon {
  margin: 10px 10px;
}
.contact-us-map {
  margin-bottom: 60px;
}
.message-section {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 51px 50px 52px 50px;
  background: #fff;
}
.message-section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 137%;
  letter-spacing: 0em;
  color: #252b42;
  margin-bottom: 45px;
}
.message-section-input-name,
.message-section-input-email,
.message-section-input-comment {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  letter-spacing: 0.01em;
  color: #22343d;
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
  border-radius: 39px;
  padding: 19px 0 19px 20px;
}
.message-section-input-name,
.message-section-input-email {
  width: 768px;
  height: 54px;
  margin-bottom: 45px;
}
.message-section-input-comment {
  width: 768px;
  height: 193px;
  border-radius: 0px;
  padding: 23px 20px;
  margin-bottom: 45px;
}
.message-section-button {
  font-family: var(--font4);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #fff;
  border-radius: 35px;
  border: 0px;
  padding: 18px 38px;
  background: #02897a;
  min-width: 145px;
  height: 52px;
}
.message-section-button:hover,
.message-section-button:focus,
.message-section-button:active {
  border-radius: 35px;
}
/* ---CONTACT-US SECTION END--- */
.icons-wrapper {
  background-color: #4d8dff;
}
